body {
    background-color: #f2f2f2;
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    }
    
    .t-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    
    header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    h1 {
    font-size: 40px;
    color: #333;
    margin: 0;
    }
    
    p {
    font-size: 18px;
    color: #666;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    }
    
    nav li {
        background-color: #333;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
        margin: 0 auto 1em;
    }
    
    nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
    }
    
    nav a:hover {
        color: #ffffff83;
    }
    
    img {
        border-radius: 50px;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    }
    
    article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    }
    
    h2 {
    font-size: 30px;
    color: #333;
    margin: 0 0 20px 0;
    }
    
    p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    }
    
    form input[type="email"],
    form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    }
    
    form input[type="submit"] {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    form input[type="submit"]:hover {
    background-color: #666;
    }
    
    footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    }
    
    footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    }
    
    